<footer class="app-footer">
    <div>© ITMartin</div>
</footer>
    
@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}