<div class="app-header">
    <div class="page-container">
        <div class="header-title">
            📁 ITMartins FileSorter
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}