<div class="app-shell">

    <header class="app-header">
        <div class="header-title">ITMartins FileSorter</div>
    </header>

    <main class="app-main">
        @ChildContent
    </main>

    <footer class="app-footer">
        © 2026 FileSorter
    </footer>

</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}