<div class="empty-state empty-@Type">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="empty-title">@Title</div>
    }

    <div class="empty-text">@Text</div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string Type { get; set; } = "info";
}