
@inherits LayoutComponentBase

<div class="app-shell">
    <header class="app-header">
        <div class="header-title">
            🎬 ITMartins MediaSeller
        </div>
    </header>

    <main class="app-main">
        @Body
    </main>

    <footer class="app-footer">
        &copy; @DateTime.Now.Year MediaSeller
    </footer>
</div>