**/bin
**/obj

.git
.idea
.vs

**/*.db
**/*.sqlite

**/ffmpeg
publish

data
images
library
archive
incoming
output
input

**/node_modules

**/TestResults
**/.DS_Store

**/*.user
**/*.suo

**/wwwroot/data
**/wwwroot/uploads

Dockerfile.*
docker-compose.override.yml