# =========================================
# Build output
# =========================================

bin/
obj/
publish/
**/publish/

# =========================================
# IDE
# =========================================

.idea/
.vs/

# =========================================
# User files
# =========================================

*.user
*.suo

# =========================================
# Databases
# =========================================

*.db
*.db-shm
*.db-wal
*.sqlite

# =========================================
# Logs
# =========================================

*.log

# =========================================
# App settings / secrets
# =========================================

appsettings.json
appsettings.Development.json
**/appsettings.json
**/appsettings.Development.json
secrets.json

# =========================================
# FFmpeg
# =========================================

**/ffmpeg/*.exe

# =========================================
# Runtime generated media data
# =========================================

**/data/
**/frames/
**/debug/
**/ocr/
**/normalized/
**/exports/
**/thumbnails/
**/temp/