.category-summary-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    border-radius: 14px;

    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.05);

    cursor: pointer;
    transition: var(--transition);
}

.category-summary-card:hover {
    background: rgba(255,255,255,0.05);
}