
@inherits LayoutComponentBase

<div class="app-shell">
    <header class="app-header">
        <div class="header-title">
            🎬 ITMartins FileSorter
        </div>
    </header>

    <main class="app-main">
        @Body
    </main>

    <div class="app-footer">
        &copy; @DateTime.Now.Year FileSorter
    </div>
</div>