<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="_content/ITMartin.Shared.UI/css/Theme.css" />
    <link rel="stylesheet" href="_content/ITMartin.Shared.UI/css/Layout.css" />
    <link rel="stylesheet" href="_content/ITMartin.Shared.UI/css/Components.css" />
    <link rel="stylesheet" href="_content/ITMartin.Shared.UI/css/Pages.css" />

    <HeadOutlet />
</head>
<body>
<Routes />

<script src="_framework/blazor.web.js"></script>
</body>
</html>