@using ITMartinLibrary.Server.Layout

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="context">
        <RouteView RouteData="context"
                   DefaultLayout="@typeof(LibraryLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(LibraryLayout)">
            <p>Sorry, nothing found here.</p>
        </LayoutView>
    </NotFound>
</Router>