@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="app-shell">
    <header class="app-header">
        <div class="header-title">
            💰 ITMartin Budget
        </div>
    </header>

    <main class="app-main">
        @Body
    </main>

    <footer class="app-footer">
        &copy; @DateTime.Now.Year Budget
    </footer>
</div>